<!DOCTYPE html>

<html>
  	<head>
	    <title>Tumblr crawler</title>
	    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  	</head>
  	<body onload="setupBlocks();">

    	{% block body %}{% endblock %}

      <div id="load">Loading content...</div>

    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="javascripts/pinterest.js"></script>
      <script src="javascripts/scrolldown.js"></script>
    	
  	</body>
</html>