{% extends 'layouts/layout.html' %}

{% block body %}

	{% for fun in data %}

		<div class="block">
			<a href="{{ fun.href }}">
				<img style="background-image:url({{ fun.image }});" height="{{ fun.height }}"/>
			</a>
		</div>

	{% endfor %}

{% endblock %}